<div id="info-items">
    <div id="edit-buttons">
        <button id="btn-customer-edit">Editar</button>
        <button id="btn-customer-delete">Deletar</button>
    </div>
    <div id="text-group" class="info-group">
        <p>CNPJ</p>
        <p id="customer-cnpj"></p>

        <br>


        <p>Nome do Cliente</p>
        <p id="customer-name"></p>

        <br>

        <p>Endereço</p>
        <p id="customer-address"></p>

        <br>

        <p>E-mail</p>
        <p id="customer-contactEmail"></p>

        <br>

        <p>Telefone de contato 1</p>
        <p id="customer-phoneNumber1"></p>

        <br>

        <p>Telefone de contato 2</p>
        <p id="customer-phoneNumber2"></p>

        <br>

        <p>Pessoa Responsavel</p>
        <p id="customer-personContactName"></p>

        <br>

        <p>Função do Responsável</p>
        <p id="customer-personProfession"></p>

        <br>

        <p>Taxa Mensal</p>
        <p id="customer-monthlyFee"></p>

        <br>

        <p>Dia do vencimento</p>
        <p id="customer-expirationDay"></p>


    </div>
    <div id="form-group" class="info-group"></div>
</div>